OPENAI_API_KEY="<secret_key>"

ARXIV_PHRASES="almost Mathieu operator
Aubry-André
Aubry André
Harper model
quasiperiodic Schrodinger operators
ergodic Schrodinger operators"   
ARXIV_CATEGORIES = "math-ph\nmath.SP\nquant-ph"
ARXIV_MAX_PAPERS = 300

QDRANT_HOST = localhost
QDRANT_PORT = 6333


PYTORCH_CUDA_ALLOC_CONF=expandable_segments:True